html, body {
	position: relative;
	margin: 0;
	padding: 0;
	height: 100%;
	background-image: url("../images/background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	color: white;
	font-weight: bold;
	font-family: "Adventure";
	font-size: 15px;
}

.outer {
	display: table;
	position: absolute;
	height: 100%;
	width: 100%;
}

.middle {
	display: table-cell;
	vertical-align: middle;
}

.middle div, .middle canvas {
	display: block;
	margin-right: auto; 
}

.inner {
	margin-left: auto;
	margin-right: auto;
}

.button {
	width: 100px;
	margin-left: 3cm;
	margin-top: 0.5cm;
}